@mixin animAll300
  -webkit-transition: all 0.3s ease
  -ms-transition: all 0.3s ease
  transition: all 0.3s ease
$navheight: 44px
$topContHeight: 300px
.clearfix
  zoom: 1
  display: block !important
  &:before,
  &:after
    content: ""
    display: table
  &:after
    clear: both
@media screen and (min-width: 768px)
  .page-wrapper
    height: 100%
.top-page-container
  width: 100%
  height: $topContHeight
  .top-page-container-inner
    position: relative
    .background-layer
      background: url('../images/Team Success Wallpaper.jpg') no-repeat center center
      background-size: cover
      height: $topContHeight
      .top-layer
        height: $topContHeight
        width: 100%
        background: rgba(0, 0, 0, 0.8)
        display: table
        clear: both
        .top-page-container-inner-content
          display: table-cell !important
          vertical-align: middle
          text-align: center
          position: relative
          h1
            color: white
            font-size: 1.75em
            font-family: 'Open Sans', sans-serif
            font-weight: bold
            letter-spacing: 0.5px
          small
            display: none
            color: white
.team-wrapper
  z-index: 2
  position: relative
.member-wrapper
  width: 80%
  .outer
    display: table
    height: 300px
    width: 100%
    position: relative
    border-right: 1px solid #ddd
    border-left: 1px solid #ddd
    border-top: 1px solid #ddd
    padding-top: 40px
    .inner
      display: table-cell
      vertical-align: middle
      .panel-body
        text-align: center
        h3
          margin: 0px 0px 2px 0px
          font-size: 1.25em
        small
          font-size: 0.9em
        p
          padding-top: 1em
.fa
  font-size: 1.25em !important
  color: rgb(25,25,25)
  @include animAll300
.fa-facebook
  &:hover
    color: rgb(14, 31, 91)
.fa-envelope-o
  float: right !important
  &:hover
    color: rgb(147, 43, 29)
.panel
  border: none
.panel-heading
  height: 170px
  text-align: center
  z-index: 10
  border: none
  padding-top: 83px
  background: none
  background-color: transparent !important
  border-color: transparent !important
.member-image
  background: url('../images/jkopec.png') no-repeat center center
  background-size: cover
  z-index: 50
  margin: 0 auto
  height: 170px
  width: 170px
  position: relative
.panel-footer
  border: 1px solid #ddd
.member-2
  background: url('../images/aernhofer.png') no-repeat center center
  background-size: cover
.member-3
  background: url('../images/mreilaender.png') no-repeat center center
  background-size: cover
@media screen and (max-width: 768px)
  .member-wrapper
    width: 60%
    margin: 0 auto
@media screen and (min-width: 768px) and (max-width: 992px)
  .container
    width: auto
  .member-wrapper
    width: 100%
